.btn {
    outline: none;
    border: 2px solid blue;
    background: none;
    padding: 10px 16px;
    color: black;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: 300ms ease-in-out;

    &:hover {
        background-color: blue;
        color: white;
    }
}